body div header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
  background-color: #5fdb2e;
  background-image: url('../images/black-orchid.png');
  padding-top: 6em;
}