.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
  background-color: #5fdb2e;
  background-image: url('../images/black-orchid.png');
  padding-top: 6em;
}

@media screen and (min-width: 1024px) {
  .header {
    width: 33.3%;
    height: 100%;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
  }  
}